<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico" />
  <title><%= webpackConfig.name %></title>
  <script type="text/javascript" src="../variable.js?v1573558217533"></script>
</head>

<body>
  <!-- This is where our app will be mounted. -->
  <div id="app"></div>

  <!-- Built files will be auto injected here. -->
</body>

</html>
